<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadsideassistance">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerPastServices"></activity>
        <activity android:name=".CustomerUpdateSubscription" />
        <activity android:name=".CustomerAccountSettings" />
        <activity android:name=".CustomerAddCar" />
        <activity android:name=".CustomerEditCar" />
        <activity android:name=".CustomerManageCars" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-in11Fmc0iIfqij3F4oh94mqRx_VUamM" />

        <activity
            android:name=".register"
            android:label="Register"
            android:parentActivityName=".SignIn" />
        <activity
            android:name=".registerAddress"
            android:label="Register Address"
            android:parentActivityName=".register" />
        <activity
            android:name=".registerBankAccount"
            android:label="Register Bank Account"
            android:parentActivityName=".registerAddress" />
        <activity android:name=".SignIn"
            android:label="Roadside App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerServiceRequest"
            android:label="Request Service"/>
        <activity
            android:name=".RoadsideSelectServiceCost"
            android:label="Set Cost" />
        <activity
            android:name=".RoadsideServiceSelect"
            android:label="Service Select" />
        <activity
            android:name=".registerRoadside"
            android:label="Register Roadside" />
        <activity android:name=".RoadsideMainPage"
            android:label="Main Page"/>
        <activity android:name=".RoadsideSelectOffer"
            android:label="Select Offer Made"/>
        <activity android:name=".RoadsideSelectedActiveService"
            android:label="Active Service"/>
        <activity android:name=".RoadsideSelectActiveService"
            android:label="Select Active Service"/>
        <activity android:name=".CustomerMainPage"
            android:label="Main Page"/>
        <activity android:name=".CustomerServiceFinishedSelect"
            android:label="Finished Services"/>
        <activity android:name=".CustomerServiceAcceptOrCancel"
            android:label="Requested Service"/>
        <activity android:name=".CustomerServiceOffers"
            android:label="Select Requested Service"></activity>
        <activity android:name=".RoadsideSelectedOffer"
            android:label="Offer Made"></activity>
        <activity android:name=".CustomerActiveServicesSelect"
            android:label="Select Active Service"></activity>
        <activity android:name=".CustomerSelectedActiveService"
            android:label="Active Service"></activity>
        <activity android:name=".CustomerServiceFinish"
            android:label="Finished Service"></activity>
        <activity android:name=".CustomerLeaveReview"
            android:label="Leave Review"></activity>
        <activity android:name=".RoadsideSetFilter"
            android:label="Set Filter"></activity>
        <activity android:name=".CustomerPaymentHistory"
            android:label="Payment History"></activity>
        <activity android:name=".RoadsidePaymentHistory"
            android:label="Payment History"></activity>
    </application>

</manifest>