<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadsideassistance">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateSubscription"></activity>
        <activity android:name=".CustomerAccountSettings" />
        <activity android:name=".CustomerAddCar" />
        <activity android:name=".CustomerEditCar" />
        <activity android:name=".CustomerManageCars" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-in11Fmc0iIfqij3F4oh94mqRx_VUamM" />

        <activity
            android:name=".register"
            android:label="Register"
            android:parentActivityName=".SignIn" />
        <activity
            android:name=".registerAddress"
            android:label="Register Address"
            android:parentActivityName=".register" />
        <activity
            android:name=".registerBankAccount"
            android:label="Register Bank Account"
            android:parentActivityName=".registerAddress" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerServiceRequest" />
        <activity
            android:name=".RoadsideSelectServiceCost"
            android:label="Set Cost" />
        <activity
            android:name=".RoadsideServiceSelect"
            android:label="Service Select" />
        <activity
            android:name=".registerRoadside"
            android:label="Register Roadside" />
        <activity android:name=".RoadsideMainPage" />
        <activity android:name=".RoadsideSelectOffer" />
        <activity android:name=".RoadsideSelectedActiveService" />
        <activity android:name=".RoadsideSelectActiveService" />
        <activity android:name=".CustomerMainPage" />
        <activity android:name=".CustomerServiceFinishedSelect" />
        <activity android:name=".CustomerServiceAcceptOrCancel" />
        <activity android:name=".CustomerServiceOffers" />
        <activity android:name=".RoadsideSelectedOffer" />
        <activity android:name=".CustomerActiveServicesSelect" />
        <activity android:name=".CustomerSelectedActiveService" />
        <activity android:name=".CustomerServiceFinish" />
        <activity android:name=".CustomerLeaveReview" />
        <activity android:name=".RoadsideSetFilter" />
    </application>

</manifest>